
*{
	font-family: Arial, Helvetica, sans-serif;
}


/* Cores de texto */
.text-gray{color: gray;}
.text-white{color: white;}
.text-purple{color: purple;}
.text-blue{color: darkblue;}
.text-red{color: red;}
.codigo{color: hotpink;}


h3{margin-bottom: 12px;}


/************************  - EVENTOS  - *****************************/

.font-20{
	font-size: 20px;
}

.eventosMouse{
	text-align: center;
}.tiposEventos{
	margin: 0;
}
