<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto node</title>
</head>
<body>
  <h1>Projeto node</h1>
  <hr>
  <section>
    <h2>Adicionar Produto</h2>
    <form action="addProduto" method="post">
      <label for="name">Nome:</label>
      <input name="name" type="text"><br><br>
      <label for="preco">Preço:</label>
      <input name="preco" type="text"><br><br>
      <button type="submit">Criar</button>
    </form>
  </section>
  
</body>
</html>